import { Component, OnInit } from '@angular/core';
import { doc, docData, updateDoc } from '@angular/fire/firestore';
import { Auth } from '@angular/fire/auth';
import { Firestore } from '@angular/fire/firestore';

@Component({
  selector: 'app-profile',
  templateUrl: './profile.page.html',
  styleUrls: ['./profile.page.scss'],
})
export class ProfilePage implements OnInit {
  userProfile: any = {};
  uid: string | null = null;

  constructor(private auth: Auth, private firestore: Firestore) {}

  async ngOnInit() {
    const user = this.auth.currentUser;
    if (user) {
      this.uid = user.uid;
      const profileRef = doc(this.firestore, 'users', this.uid);
      docData(profileRef).subscribe(data => {
        this.userProfile = data;
      });
    }
  }

  async updateProfile() {
    if (this.uid) {
      const profileRef = doc(this.firestore, 'users', this.uid);
      await updateDoc(profileRef, {
        name: this.userProfile.name,
        // otros campos que quieras editar
      });
    }
  }
}
